@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a sample for Authentication and Authorization with Identity Core</p>
    <div class="text-start">
        <p>
            Steps to test the sample:
        </p>
        <ul>
            <li>Register an account</li>
            <li>Login the account</li>
            <li>Go to account manage by click in your name</li>
            <li>Check the checkboxes of the pages that you want to see</li>
        </ul>

    </div>
</div>
